{% extends 'website/base.html' %}
{% load static %}

{% block main %}
<div class="row row-space">
    <div class="col-6">
        <form>
            <div class="form-row">
                <div class="form-group col-md-12">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNome">Nome</label>
                    <input type="text" class="form-control" id="inputNome" placeholder="Seu nome aqui">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSobreNome">Sobrenome</label>
                    <input type="text" class="form-control" id="inputSobreNome" placeholder="Seu sobrenome aqui">
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress2">Endereco</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-group">
                <textarea name="" id="" cols="65" rows="10" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                   Receber noticias
                </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
    <div class="col-6">
        <p>
                Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. 
                Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! 
                Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá , 
                depois divoltis porris, paradis.
                Per aumento de cachacis, eu reclamis. Posuere libero varius. 
                Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. 
                Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, 
                vitae iaculis nisl. In elementis mé pra quem é amistosis quis leo.
        </p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467692.0488551513!2d-
            46.87549667433137!3d-23.681531452945958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!
            1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2sS%C3%A3o+Paulo%2C+SP%2C+Brasil!5e0!3m2!1spt-
            BR!2sie!4v1535321167233" width="500" height="400" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
        
    </div>
</div>
{% endblock %}