{% extends 'website/base.html' %}
{% load static %}

{% block main %}
    <div class="row row-space">
        <div class="col-6">
                Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. 
                Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! 
                Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá , 
                depois divoltis porris, paradis.
        </div>
        <div class="col-6">
                Per aumento de cachacis, eu reclamis. Posuere libero varius.
                 Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
                  Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, 
                  vitae iaculis nisl. In elementis mé pra quem é amistosis quis leo.
        </div>
    </div>
    <div class="row row-space">
            <div class="col-4">
                    Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. 
                    Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! 
                    Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá , 
                    depois divoltis porris, paradis.
            </div>
            <div class="col-4">
                    <img src="{% static 'img/car.jpeg' %}" alt="Estacionamenot 24 horas">
            </div>
            <div class="col-4">
                    Per aumento de cachacis, eu reclamis. Posuere libero varius.
                     Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
                      Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, 
                      vitae iaculis nisl. In elementis mé pra quem é amistosis quis leo.
            </div>
        </div>
        <div class="row row-space">
            <div class="col-6">
                    Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis santis. 
                    Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! 
                    Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! Pra lá , 
                    depois divoltis porris, paradis.
            </div>
            <div class="col-6">
                    Per aumento de cachacis, eu reclamis. Posuere libero varius.
                        Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
                        Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, 
                        vitae iaculis nisl. In elementis mé pra quem é amistosis quis leo.
            </div>
        </div>
{% endblock %}