<div class="row">
    <div class="col-12">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'website_servicos' %}">Servicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Plano</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'website_contato' %}">Contatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'core_home' %}">Sistema</a>
            </li>
        </ul>
    </div>
</div>