header {
	float: left;
	background-color: #79BD9A;
	width: 100%;
}

header p {
	float: right;
}

a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #FFF;
	background: #0B486B;
	padding: 20px 5px;
}


#logo{
	float: left;
	width: 40%;
	height: 40%;
	display: block;
}

nav {
	float: right;
	padding: 20px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
	float: left;
	padding: 10px
}