{% extends 'base.html' %}

{% block title %} Seja bem vindo - Pagina Principal {% endblock %}

{% block main %}

    <h1 class="programe_facil">Ola mundo</h1>

    <ul>
        <li>item 2</li>
        <li>item 2</li>
        <li>item 2</li>
        <li>item 2</li>
    </ul>
    <p>Condicionais </p>
    {% if sexo == 'm' or sexo == 'M' %}
        Ola senhor {{ nome }}
    {% elif sexo == 'f' %}
        Ola senhora {{ nome}}
    {% else %}
        Ola {{ nome }}
    {% endif %}
    <br>
    <br>
    <p>Loops </p>

    <ul>
        {% for pessoa in lista %}

            {% if pessoa.sexo == 'm' or pessoa.sexo == 'M' %}
                <li>Ola senhor {{ pessoa.nome }}</li>
            {% elif pessoa.sexo == 'f' %}
                <li>Ola senhora {{ pessoa.nome}}</li>
            {% else %}
                <li>Ola {{ pessoa.nome }}</li>>
            {% endif %}

        {% endfor %}
    </ul>

    <button class="btn btn-info" onclick="olaMundo()">clique aqui</button>
    
{% endblock %}


{% block footer %}   
    {% include 'footer.html' with pnome=nome %}
{% endblock %}