{% extends 'base.html' %}
{% load bootstrap %}

{% block menu%}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicos</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'core_lista_pessoas' %}">Pessoas</a>
            <a class="dropdown-item" href="{% url 'core_lista_veiculos' %}">Veiculos</a>
            <a class="dropdown-item" href="{% url 'core_movrotativos_novo' %}">Rotativo</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item active" href="{% url 'core_mensalista_novo' %}">Mensalistas</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="">Logout</a>
        </li>
    </ul>
{% endblock %}


{% block main %}
<div class="row">
    <div class="col">
        <h2>Lista Mensalistas</h2>

        <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mensalista in mensalistas %}
                    <tr>
                    <th scope="row">{{ mensalista.id }}</th>
                    <td>{{ mensalista.veiculo }}</td>
                    <td>{{ mensalista.inicio }}</td>
                    <td>R$ {{ mensalista.valor_mes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        <form action="{% url 'core_mensalista_novo' %}" method="POST">
            {% csrf_token %}

            {{ form|bootstrap }}

            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>

    </div>
</div>
{% endblock %}